[submodule "ThirdParty/Libs"]
	path = ThirdParty/Libs
	url = https://github.com/DigitalRune/MonoGame-Dependencies.git
[submodule "ThirdParty/Kickstart"]
	path = ThirdParty/Kickstart
	url = https://github.com/OutOfOrder/MonoKickstart.git
